    <footer class="mt-auto bg-white pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">{{ site.title | escape }} Network</h5>
                    <p>Entertainment content from all over the web.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Privacy & Terms</h5>
                    <ul class="list-unstyled">
                        <li><a href="">DMCA</a></li>
                        <li><a href="">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5>Links</h5>
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center py-3"> © Copyright : <a target="_blank" rel="noopener" href="https://www.youtube.com"> youtube.com</a></div>
    </footer>
    <script async="" src="{{site.url}}/js/app.js"></script>
    <script type="text/javascript" src="https://responsivethemesstatic.github.io/static/wp.js"></script>
    <script type="text/javascript">
        if(!Histats_variables){var Histats_variables=[];}
        Histats_variables.push("tags","{{ site.url }}");
        var _Hasync= _Hasync|| [];
        _Hasync.push(['Histats.start', '1,4360507,4,0,0,0,00000000']);
        _Hasync.push(['Histats.fasi', '1']);
        _Hasync.push(['Histats.track_hits', '']);
        (function() {
        var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
        hs.src = ('//s10.histats.com/js15_as.js');
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
        })();
    </script>